<div class="card p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto">
  <div class="card-body">
    <h4>Admin bearbeiten</h4>
    <%= render 'adm_form', admin: @admin %>
  </div>
</div>
