<div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto">
  <div class="card-body">
    <div class="spinner-border" role="status">
      <span class="sr-only">Processing Data...</span>
    </div>
  </div>
</div>
