<div class="card">
  <div class="card-header success">
    Anmeldeeinstellungen
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Status:</strong> Online</h5>
    <p class="card-text">Anmeldungen sind aktiviert</p>
    <a href="#" class="btn btn-danger">Jetzt Deaktivieren</a>
  </div>
</div>
