<div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto;">
  <div class="card-body">
    <h5 class="card-title">Lehrer hinzufügen</h5>
    <%= form_tag upload_teachers_path, multipart: true do %>
      <%= file_field_tag :file, class: "form-control-file my-3" %>
      <%= submit_tag "Import CSV", data: { disable_with: "Wird hochgeladen..." }, class: "special-upload-button" %>
      <%= link_to 'Hilfe', upload_help_path, class: "card-link" %>
    <% end  %>
  </div>
</div>
