<h4>Präsentationen hinzufügen</h4>

<div class="custom-file">
  <%= form_tag upload_presentations_path, multipart: true do %>
    <%= file_field_tag :file, class: "form-control-file my-3" %>
    <%= submit_tag "Import CSV", data: { disable_with: "Wird hochgeladen..." }, class: "btn btn-primary" %>
  <% end  %>
</div>
