<div class="card shadow p-3 mb-5 bg-white rounded" style="min-width: 890px;">
    <div>
        <p>Bitte achten Sie darauf, dass die CSV Datei einen Semikolon (;) als Separator benützt und wie unten aufgebaut ist.</p>
        <p>Die Kolonnen müssen in der gleichen Reihenfolge sein wie hier dargestellt.</p>
        <h4 id="teac">Lehrer</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>Number</th>
                <th>Mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Stoppa</td>
                <td>Miriam</td>
                <td>20</td>
                <td>miriam.stoppa@bks-campus.ch</td>
              </tr>
            </tbody>
          </table>
          <hr>
        <h4 id="stud">Schüler</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Vorname</th>
              <th>Number</th>
              <th>Mail</th>
              <th>Klasse</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lancaster</td>
              <td>Edward</td>
              <td>s9362</td>
              <td>elancaster4@gmail.com</td>
              <td>6 Gf</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h4 id="pres">Präsentationen</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Klasse</th>
              <th>Betreuer</th>
              <th>Fach</th>
              <th>Zimmer</th>
              <th>Von</th>
              <th>Bis</th>
              <th>Name</th>
              <th>Vorname</th>
              <th>Titel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6 Gf</td>
              <td>274</td>
              <td>Informatik/Typ T</td>
              <td>K 614</td>
              <td>13:20</td>
              <td>13:35</td>
              <td>Lancaster</td>
              <td>Edward</td>
              <td>App für die BKS</td>
            </tr>
          </tbody>
        </table>
        <p>Wobei 274 die ID-Nummer des Lehrers ist.</p>
    </div>
  </div>
