<div style="position:relative;">
  <div class="row">
    <div class="col-2">
      <div id="list" class="list-group">
        <a class="list-group-item list-group-item-action" href="#teac">Lehrer</a>
        <a class="list-group-item list-group-item-action" href="#stud">Schüler</a>
        <a class="list-group-item list-group-item-action" href="#pres">Präsentationen</a>
      </div>
    </div>
    <div class="col-8">
      <div data-spy="scroll" data-target="#list" data-offset="0" style="position:relative; overflow: auto">
        <p>Bitte achten Sie darauf, dass die CSV Datei einen Semikolon (;) als Separator benützt und wie unten aufgebaut ist.</p>
        <p>Die Kolonnen müssen in der gleichen Reihenfolge sein wie hier dargestellt.</p>
        <h4 id="teac">Lehrer</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>Number</th>
                <th>Mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Stoppa</td>
                <td>Miriam</td>
                <td>20</td>
                <td>miriam.stoppa@bks-campus.ch</td>
              </tr>
            </tbody>
          </table>
        <h4 id="stud">Schüler</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Klasse</th>
              <th>Betreuer</th>
              <th>Fach</th>

              <th>Name</th>
              <th>Vorname</th>
              <th>Number</th>
              <th>Mail</th>
            </tr>
          </thead>
          <tbody>
            <tr>

          </tr>
          </tbody>
        </table>
        <h4 id="pres">Präsentationen</h4>
      </div>
    </div>
  </div>
</div>
