<div class="card text-center">
  <div class="card-header">
    BKS-Tool
  </div>
  <div class="card-body">
    <h5 class="card-title">Vielen Dank</h5>
    <p class="card-text">Sie haben sich erfolgreich f체r die Pr채sentationen angemolden. Schauen Sie in ihrem Inbox f체r eine Best채tigung.</p>
  </div>
  <div class="card-footer text-muted">
    Erstellt von Edward Lancaster MA18 - v.20.11 <br />
  </div>
</div>
