<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><i>An alle Betreuer und Betreuerinnen der MA<%= Time.new.year - 2000 %>.</i></p>
    <p>Liebe Betreuerperson</p>
    <p>Unter folgender Webaddresse sind die Sch체lerinnen und Sch체ler der 5. Klassen,
      die sich zum Besuch einer Pr채sentation der folgenden Selbstst채ndigen Arbeiten verpflichtet haben.</p>
      <a href="https://athene.bks-campus.ch/teacher/list?id=<%= @teacher.number %>">athene.bks-campus.ch</a>
