<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @student.vorname %> <%= @student.name %></h1>
    <p>
      Ihre Anmeldedaten: <br>
      <%= @student.number %>
      <%= @student.code %>
    </p>
    <p>
      Melden Sie sich bei dieser Addresse an: <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a>.
    </p>
  </body>
</html>
