Guten Tag <%= @student.vorname %> <%= @student.name %>, <br />
Wir haben bemerkt, dass Sie sich noch nicht für die Maturavorträge angemeldet haben.<br />
Bitte registrieren Sie sich sobald wie möglich.<br />
Benutzername: <%= @student.number %><br />
Passwort: <%= @student.code %><br />
Sie können sich unter <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a> anmelden.<br /><br />
